<html layout:decorate="~{layout-inner}">
    <main layout:fragment="content">
        <div class="container">
            <!-- 제목 -->
            <div class="row mt-5">
                <div class="col">
                    <a href="/user/diet/log"><h3 th:text="${mdUser.nickname != null ? mdUser.nickname : mdUser.username} + '님의 밀땅일지'"></h3></a>
                    <h3 class="text-primary text-center pt-20 mb-10">이미지 AI 분석</h3>
                </div>
            </div>
        
            <!-- 이미지 업로드 폼 -->
            <div class="row mt-4">
                <div class="col-md-6 offset-md-3">
                    <form id="uploadForm" enctype="multipart/form-data">
                        <div class="position-relative mb-3">
                            <input onchange="handleFileChange(event);" type="file" name="imgfile" class="form-control d-none" id="file" accept="image/*">
                            <label id="upload-thumbnail" for="file"
                                class="p-0 btn w-100 h-100 bg-white border border-primary rounded-lg d-flex justify-content-center align-items-center cursor-pointer"
                                style="min-height: 300px;">
                                <i class="bi bi-plus fs-1"></i>
                                <p class="text-sm text-gray-6 ms-2">식단 사진을 업로드 해주세요.</p>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 전송 버튼 -->
            <div class="row mt-4">
                <div class="col-md-6 offset-md-3">
                    <p th:text="${selectedDate}" id="selectedDate" style="display: none;">선택된 날짜</p>
                    <button id="analyzeButton" class="btn btn-primary w-100" type="submit">분석 시작</button>
                </div>
            </div>
            <!-- 뒤로가기 버튼 -->
            <div>
                <button onclick="goBack()" class="btn btn-outline-warning btn-fixed-size">뒤로 가기</button>
            </div>
            <!-- 로딩 화면 -->
            <div id="loadingScreen" style="display: none;">
                <div class="mask" style="display: none;">
                    <img class="loadingImg" src='/icons/Bean Eater-1s-124px (1).gif'>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function handleFileChange(event) {
                
                setThumbnail(event); // 썸네일 설정

                // var formData = new FormData($('#uploadForm')[0]);
                var formData = new FormData();  // 업로더 초기화
                var selectedDate = $('#selectedDate').text();
                console.log("selectedDate:", selectedDate); 
                formData.append('date', selectedDate);
                formData.append('imgfile', event.target.files[0]); // 파일 추가
                $.ajax({
                    url: '/api-upload',
                    type: 'POST',
                    data: formData,
                    processData: false, // FormData 사용 시 필수
                    contentType: false, // FormData 사용 시 필수
                    success: function(response) {
                        alert('이미지 업로드 성공');
                    },
                    error: function(xhr, status, error) {
                        console.error("이미지 업로드 실패:", error);
                    }
                });
            }
        
            function setThumbnail(event) {
                var uploadThumbnail = document.querySelector("#upload-thumbnail");
                uploadThumbnail.innerHTML = ''; // 이전에 생성된 썸네일이 있다면 삭제

                var reader = new FileReader();
                reader.onload = function(event) {
                    var img = document.createElement("img");
                    img.setAttribute("src", event.target.result);
                    img.setAttribute("style", "max-width: 500px; max-height: 500px; object-fit: cover;");
                    document.querySelector("#upload-thumbnail").appendChild(img);
                };
                
                reader.readAsDataURL(event.target.files[0]);
            }

            function goBack() {
                window.history.back();
            }
        </script>
    </main>
</html>