<html layout:decorate="~{layout-inner}">
    <main layout:fragment="content">
        <section id="title">
            <a href="/user/diet/log"><h3 th:text="${mdUser.nickname != null ? mdUser.nickname : mdUser.username} + '님의 밀땅일지'"></h3></a>
            <h1 classe="text-primary text-center pt-20 mb-10">식단 AI 분석을 시작합니다.</h1>
        </section>

        <section id="content" class="row align-items-md-stretch">
            <div id="uploader" class="col-md-6">
                
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" name="imgfile" onchange="handleFileChange(event);"/>
                </form>
                <div id="upload-thumbnail"></div> <!-- 썸네일 이미지를 표시할 공간 -->

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <p th:text="${selectedDate}" id="selectedDate" style="display: none;">선택된 날짜</p>
                <button id="analyzeButton">이미지 분석</button>
                <!-- 로딩 화면 -->
                <div id="loadingScreen" style="display: none;">
                <div class="mask" style="display: none;">
                    <img class="loadingImg" src='/icons/Ball-1s-118px.gif'>
                <!-- </div>
                <p>분석 중입니다. 잠시만 기다려주세요...</p> -->
            </div>
            <!-- 결과 페이지 또는 섹션 -->
            <div id="resultSection" style="display: none;">
                <!-- 결과가 여기에 표시됩니다 -->
            </div>

            <div id="result" class="col-md-6">
                <table>
                    <tr>
                        <td>분류된 이미지</td>
                        <td>분류된 이미지</td>
                        <td>분류된 이미지</td>
                    </tr>
                    <tr>
                        <td>영양정보</td>
                        <td>영양정보</td>
                        <td>영양정보</td>
                    </tr>
                    <tr>
                        <td> + </td>
                    </tr>
                </table>
                <a href="/api-delete" class="delete-btn"><button type="submit" id="delete-btn">삭제</button></a>
                <p>분석한 이미지는 자동으로 갤러리에 저장됩니다. 저장을 원하지 않으시면 삭제 버튼을 눌러주세요.</p>
                <p>하지만 아직 삭제 기능은 구현 안됐습니다 ^^</p>

            </div>
        </section>
        <script>
            function handleFileChange(event) {
                setThumbnail(event); // 썸네일 설정
                var formData = new FormData($('#uploadForm')[0]);
                var selectedDate = $('#selectedDate').text();
                console.log("selectedDate:", selectedDate); 
                formData.append('date', selectedDate);
                $.ajax({
                    url: '/api-upload', // '/api-upload' 엔드포인트 사용
                    type: 'POST',
                    data: formData,
                    processData: false, // FormData 사용 시 필수
                    contentType: false, // FormData 사용 시 필수
                    success: function(response) {
                        alert('이미지 업로드 성공');
                    },
                    error: function(xhr, status, error) {
                        console.error("이미지 업로드 실패:", error);
                    }
                });
            }
        
            function setThumbnail(event) {
                var reader = new FileReader();
                
                reader.onload = function(event) {
                    var img = document.createElement("img");
                    img.setAttribute("src", event.target.result);
                    img.setAttribute("style", "max-width: 200px; max-height: 200px; object-fit: cover;");
                    document.querySelector("#upload-thumbnail").appendChild(img);
                };
                
                reader.readAsDataURL(event.target.files[0]);
            }
        </script>
    </main>
</html>