<html layout:decorate="~{layout-inner}">
    <main layout:fragment="content">
        <section id="title">
            <a href="/user/diet/log"><h3 th:text="${mdUser.nickname != null ? mdUser.nickname : mdUser.username} + '님의 밀땅일지'"></h3></a>
        </section>

        <section id="logs">
            <div class="text-primary text-center pt-20 mb-10">
                <h3>주간 섭취량</h3>
                <span th:text="${#temporals.format(#temporals.createNow().with(T(java.time.temporal.TemporalAdjusters).previousOrSame(T(java.time.DayOfWeek).MONDAY)), 'yyyy.MM.dd')}">이번주 월요일</span>
                <span> - </span>
                <span th:text="${#temporals.format(#temporals.createNow().with(T(java.time.temporal.TemporalAdjusters).nextOrSame(T(java.time.DayOfWeek).SUNDAY)), 'yyyy.MM.dd')}">이번주 일요일</span>
                <table>
                    <tbody>
                        <tr id="kcal">
                            <td>칼로리</td>
                            <td th:text="${totalKcal}"></td>
                            <td>/</td>
                            <td th:text="${md_diet.kcal != null ? md_diet.kcal*7 : '2500*7'}"></td>
                            <td>kcal</td>
                        </tr>
                        <tr id="carbohydrates">
                            <td>탄수화물</td>
                            <td th:text="${totalCarboG}"></td>
                            <td>/</td>
                            <td th:text="${md_diet.kcal != null ? T(java.lang.String).format('%1$.1f', (md_diet.kcal)*0.14*7) : '300.0*7'}"></td>
                            <td>g</td>
                        </tr>
                        <tr id="protein">
                            <td>단백질</td>
                            <td th:text="${totalProteinG}"></td>
                            <td>/</td>
                            <td th:text="${md_diet.protein != null ? md_diet.protein*7 : '40.0*7'}"></td>
                            <td>g</td>
                        </tr>
                        <tr id="fat">
                            <td>지방</td>
                            <td th:text="${totalFatG}"></td>
                            <td>/</td>
                            <td th:text="${md_diet.kcal != null ? T(java.lang.String).format('%1$.1f', (md_diet.kcal)*0.017*7) : '50.0*7'}"></td>
                            <td>g</td>
                        </tr>
                    </tbody>
                </table>
                <a href="/user/diet/weekly"><button class="btn btn-outline-warning">주간 AI 리포트</button></a>
            </div>
        </section>
        <hr>
        <hr>
        <!-- 코드 영역 -->
        <div class="code-area" style="margin-right: 20px; display: flex; justify-content: flex-end;">
            <!-- 오늘 날짜와 이미지 AI 분석 버튼 -->
            <p th:text="'오늘 (' + ${#dates.format(#dates.createNow(), 'yyyy-MM-dd')} + ')'">오늘 날짜</p>
            <a th:href="@{/user/diet/analysis(date=${today})}" style="margin-left: auto;">
                <button class="btn btn-outline-warning">이미지 AI 분석</button>
            </a>
        </div>
        
        <div style="display: flex; justify-content: space-between; align-items: flex-start;">
            <!-- 식단 정보 테이블 -->
            <table>
                <tbody>
                    <tr id="kcal">
                        <td>칼로리</td>
                        <td th:text="${todayKcal}"></td>
                        <td>/</td>
                        <td th:text="${md_diet.kcal != null ? md_diet.kcal : '2600'}"></td>
                        <td>kcal</td>
                    </tr>
                    <tr id="carbohydrates">
                        <td>탄수화물</td>
                        <td th:text="${todayCarboG}"></td>
                        <td>/</td>
                        <td th:text="${md_diet.kcal != null ? T(java.lang.String).format('%1$.1f', (md_diet.kcal)*0.14) : '300.0'}"></td>
                        <td>g</td>
                    </tr>
                    <tr id="protein">
                        <td style="text-align: left;">단백질</td>
                        <td colspan="4" style="text-align: right;">
                            <span th:text="${todayProteinG + '/' + (md_diet.protein != null ? md_diet.protein : '55.0')}"></span>g
                        </td>
                    </tr>
                    <tr id="fat">
                        <td>지방</td>
                        <td th:text="${todayFatG}"></td>
                        <td>/</td>
                        <td th:text="${md_diet.kcal != null ? T(java.lang.String).format('%1$.1f', (md_diet.kcal)*0.017) : '50.0'}"></td>
                        <td>g</td>
                    </tr>
                </tbody>
            </table>
            <!-- 이미지 박스 영역 -->
            <div class="image-box-wrapper">
                <!-- 각 이미지에 대한 반복문 -->
                <div th:each="photoPath : ${photoPaths}">
                    <div class="image-box">
                        <img th:src="@{'/uploaded/'+${photoPath}}" alt="이미지 설명">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 구분선 -->
        <hr>
        <hr>
        <th:block th:each="day : ${#numbers.sequence(0, 6)}">
            <div class="code-area" style="margin-right: 20px; display: flex; justify-content: flex-end;">
                <p th:if="${monday != null}" th:text="${monday.plusDays(day)}"></p>
                <!-- 이미지 AI 분석 버튼 -->
                <a th:href="@{/user/diet/analysis(date=${today})}" style="margin-left: auto;">
                    <button class="btn btn-outline-warning">이미지 AI 분석</button>
                </a>
            </div>
            <div class="image-box-wrapper" style="flex: 1; display: flex; justify-content: space-around; align-items: flex-start; margin-bottom: 20px; overflow-x: auto;">
                <!-- 각 날짜별 결과 테이블 -->
                <table>
                    <tbody>
                        <tr>
                            <td>칼로리</td>
                            <td th:text="${__${monday.plusDays(day).getDayOfWeek().toString().toLowerCase() + 'Kcal'}__}"></td>
                            <td>/</td>
                            <td th:text="${md_diet.kcal != null ? md_diet.kcal : '2600'}"></td>
                            <td>kcal</td>
                        </tr>
                        <tr>
                            <td>탄수화물</td>
                            <td th:text="${__${monday.plusDays(day).getDayOfWeek().toString().toLowerCase() + 'CarboG'}__}"></td>
                            <td>/</td>
                            <td th:text="${md_diet.kcal != null ? T(java.lang.String).format('%1$.1f', (md_diet.kcal)*0.14) : '300.0'}"></td>
                            <td>g</td>
                        </tr>
                        <tr>
                            <td>단백질</td>
                            <td th:text="${__${monday.plusDays(day).getDayOfWeek().toString().toLowerCase() + 'ProteinG'}__}"></td>

                            <td>/</td>
                            <td th:text="${md_diet.protein != null ? md_diet.protein : '55.0'}"></td>
                            <td>g</td>
                        </tr>
                        <tr>
                            <td>지방</td>
                            <td th:text="${__${monday.plusDays(day).getDayOfWeek().toString().toLowerCase() + 'FatG'}__}"></td>
                            <td>/</td>
                            <td th:text="${md_diet.kcal != null ? T(java.lang.String).format('%1$.1f', (md_diet.kcal)*0.017) : '50.0'}"></td>
                            <td>g</td>
                        </tr>
                    </tbody>
                </table>
                <!-- 이미지 박스를 추가할 위치 -->
                <div class="image-box-wrapper">
                    <div th:each="eachPhotoPath : ${__${monday.plusDays(day).getDayOfWeek().toString().toLowerCase() + 'eachPhotoPaths'}__}">
                        <div class="image-box" th:if="${eachPhotoPath != null}">
                            <img th:src="@{'/uploaded/' + ${eachPhotoPath}}" alt="이미지 설명">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </th:block>
        <hr>
        <style>
            /* 표의 크기를 고정하기 위한 CSS */
            table {
                width: 330px; /* 표의 너비를 500px로 설정 */
                height: 40px; /* 표의 높이를 300px로 설정 */
                table-layout: fixed; /* 표의 레이아웃을 고정으로 설정하여 셀 크기를 고정 */
            }
            .code-area {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 20px;
            }
            .image-box-wrapper {
                flex: 1;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 20px;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap; /* 이미지를 가로로 나열하기 위해 필요한 CSS 속성 */
            }
            .image-box {
                width: 200px; /* 원하는 이미지 가로 크기 */
                height: 200px; /* 원하는 이미지 세로 크기 */
                overflow: hidden; /* 이미지가 지정된 크기를 초과하는 경우를 대비하여 오버플로우 처리 */
                margin-right: 10px; 
            }
            .image-box img {
                width: 100%;
                height: 100%;
                object-fit: contain; /* 이미지가 비율을 유지하면서 박스 안에 들어가도록 합니다. */
            }
        </style>

        <!-- <script>
        // 이미지 박스를 감싸는 div 요소를 선택합니다.
        var imageBoxWrapper = document.querySelector('.image-box-wrapper');
        
        // 표의 각 행을 선택합니다.
        var tableRows = document.querySelectorAll('table tbody tr td');
        
        // 이미지 박스의 최소 너비를 설정합니다.
        var minImageWidth = 30; // 최소 너비 설정 (원하는 크기로 변경 가능)
        
        // 각 행의 텍스트 길이를 기준으로 이미지 크기를 조정합니다.
        tableRows.forEach(function(row) {
            // 각 행의 텍스트 길이를 구합니다.
            var textLength = row.textContent.trim().length;
        
            // 이미지의 너비를 텍스트 길이에 따라 계산합니다.
            var imageWidth = textLength * 10; // 10은 텍스트 길이에 따라 조정할 계수입니다.
        
            // 이미지의 최소 너비를 고려하여 너비를 설정합니다.
            imageWidth = Math.max(imageWidth, minImageWidth);
        
            // 이미지 요소를 선택합니다.
            var image = row.nextElementSibling.querySelector('img');
        
            // 이미지의 너비를 설정합니다.
            image.style.width = imageWidth + 'px';
        });
        </script> -->
    </main>
</html>

