<html layout:decorate="~{layout-inner}">
    <main layout:fragment="content">
        <section id="title">
            <a href="/user/diet/log"><h3 th:text="${mdUser.nickname != null ? mdUser.nickname : mdUser.username} + '님의 밀땅일지'"></h3></a>
            <p>테스트 페이지~~~~~~~</p>
        </section>
        <!DOCTYPE html>
        <html>
        <head>
            <title>사진 갤러리</title>
        </head>
        <body>
        
        <main>
            <h2>결과물이다ㅏㅏㅏㅏㅏ</h2>
            <!-- 사진 갤러리 공간 -->
            <div class="gallery">
                <div class="photo">
                    <!-- <img src="/icons/fried-egg.png" alt="사진 설명 1"> -->
                    <img th:src="@{'/uploaded/'+${mdNutResult.originPath.originPath}}">
                </div>
                <div>
                    <!-- 크롭된 이미지 -->
                    <img th:src="@{'/uploaded/'+${mdNutResult.resultPath}}">

                </div>
                    
                <!-- <div class="description">  분석결과 <br>
                    <img src="/icons/fried-egg.png" alt="크롭사진 설명1">
                    <img src="/icons/fried-egg.png" alt="크롭사진 설명2">
                    <img src="/icons/fried-egg.png" alt="크롭사진 설명3">


                </div> -->

                <div class="description">  
                    분석결과 <br>
                    <div class="image-container-row">
                        <div class="image-container">
                            <img src="/icons/fried-egg.png" alt="크롭사진 설명1">
                            <p>크롭사진 설명1</p>
                            <p th:text="${mdNutResult.resultLabel}"></p>
                            <p th:text="${mdNutResult.fatG}"></p>
                            <p th:text="${mdNutResult.kcal}"></p>
                            <p th:text="${mdNutResult.carboG}"></p>
                            <p th:text="${mdNutResult.proteinG}"></p>
                        </div>
                        <div class="image-container">
                            <img src="/icons/fried-egg.png" alt="크롭사진 설명2">
                            <p>크롭사진 설명2</p>
                        </div>
                        <div class="image-container">
                            <img src="/icons/fried-egg.png" alt="크롭사진 설명3">
                            <p>크롭사진 설명3</p>
                        </div>
                    </div>
                </div>
                <!-- <button class="button">저장</button> -->
                
            </div>
        </main>
        
        </body>
        </html>