<html layout:decorate="~{layout-inner}">
    <main layout:fragment="content">
        <div class="container py-4">
            <div class="row mb-4">
                <div class="col-md-4">
                    <img th:src="@{'/uploaded/'+${allNResults[0].originPath.originPath}}" class="card-img border-0 rounded" alt="Origin-Img-Uploaded">
                </div>
                <div class="col-md-3" th:each="nResult : ${allNResults}">
                    <div class="card mb-3">
                        <img th:src="@{'/uploaded/'+${nResult.resultPath}}" class="img-fluid rounded-start" alt="Result-Img-Focused">
                        <div class="card-body">
                            <h4 class="mb-3">영양소 정보</h4>
                            <div class="border border-gray-300 rounded-lg p-3">
                                <div class="d-flex justify-content-between mb-2">
                                    <p class="font-weight-semibold">음식명</p>
                                    <p th:text="${nResult.resultLabel}"></p>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <p class="font-weight-semibold">칼로리</p>
                                    <p th:text="${#numbers.formatDecimal(nResult.kcal, 1, 1)} + ' kcal'"></p>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <p class="font-weight-semibold">탄수화물</p>
                                    <p th:text="${#numbers.formatDecimal(nResult.carboG, 1, 1)} + ' g'"></p>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <p class="font-weight-semibold">단백질</p>
                                    <p th:text="${#numbers.formatDecimal(nResult.proteinG, 1, 1)} + ' g'"></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="font-weight-semibold">지방</p>
                                    <p th:text="${#numbers.formatDecimal(nResult.fatG, 1, 1)} + ' g'"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button onclick="goBack()" type="button" class="btn btn-outline-warning" style="width: 100px;"> 뒤로 가기 </button>
                <script>
                function goBack() {
                    window.history.back();
                }
                </script>
            </div>
        </div>
    </main>
</html>