<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>밀땅</title>
</head>
<body>
    <header>
        <div class="loginInfo">
            <h3 th:text="${mdUser.nickname} + '님의 갤러리'"></h3>
            <a href="/user/rsrt/map"><button>밀땅 검색(식당 검색)</button></a>
            <a href="/user/diet/log"><button>밀땅 일지(식단 관리)</button></a>
            <a href="/user/mypage"><button>마이 페이지</button></a>
            <a href="/logout"><button type="submit" id="logout-btn">로그아웃</button></a>
        </div>
    </header>
    <main>

    </main>
    <footer>
        <p>footer 여백</p>
    </footer>
</body>
</html>