<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>밀땅</title>
</head>
<body>
    <div class="loginInfo">
        <h1>밀땅 회원페이지</h1>
        <a href="/user/rsrt/map"><button>밀땅 검색(식당 검색)</button></a>
        <a href="/user/diet/log"><button>밀땅 일지(식단 관리)</button></a>
        <a href="/user/diet/gallery"><button>갤러리</button></a>
        <button><a href="/logout">로그아웃</a></button><br>
    </div>
</body>
</html>