<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <title>밀땅</title>
</head>
<body>
    <div class="loginInfo">
        <h1>밀땅 맛집</h1>
        <button><a href="/logout">로그아웃</a></button><br>
    </div>
    <div class="search">
        <form id="searchForm" action="/user/map/search" method="GET">
            <input onkeyup="enterkey()" type="search" name="searchkey"/>
            <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <script>
            function enterkey() {
                if (window.event.keyCode == 13) {
                    document.getElementById("searchForm").submit();
                }}
        </script>

    </div>
    <div class="searchResult" th:if="${searchResults == null || searchResults.isEmpty()}">결과가 없습니다.</div>
    <div class="searchResult" th:unless="${searchResults == null || searchResults.isEmpty()}">
        <table>
            <tbody class="searchResultTable">
                <tr th:id="${store.storeName}" th:each="store : ${searchResults}" class="table-row">
                    <td class="table-data" th:text="${store.storeName != null ? store.storeName : 'N/A'}"></td>
                    <td class="table-data" th:text="${store.roadAddr != null ? store.roadAddr : 'N/A'}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
