.p-3 {
    padding: 1rem !important;
}
.text-bg-dark {
    color: #fff!important;
    background-color: black !important;
}

.align-items-center {
    align-items: center!important;
}
.d-flex {
    display: flex!important;
}
.flex-wrap {
    flex-wrap: wrap!important;
}
.py-2 {
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}
.px-3 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}
.my-2 {
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
}
.text-decoration-none {
    text-decoration: none!important;
}
.text-small {
    font-size: 85%;
}

.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}

.justify-content-center {
    justify-content: center!important;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol, ul {
    padding-left: 2rem;
}
.dropdown-toggle:not(:focus) {
    outline: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}