*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: inherit;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
header {
    display: block;
}
footer {
    display: block;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 70%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
}

/* padding */
.p-5 {
    padding: 3rem;
}
.pt-3 {
    padding-top: 1rem;
}
.pb-3 {
    padding-bottom: 1rem;
}
.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* margin */
.mt-4 {
    margin-top: 1.5rem;
}
.mb-4 {
    margin-bottom: 1.5rem;
}
.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.me-2 {
    margin-right: 0.5rem;
}

/* border */
.border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}
.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}
.rounded-3 {
    border-radius: var(--bs-border-radius-lg);
}

.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .justify-content-md-between {
        justify-content: space-between;
    }
    .mb-md-0 {
        margin-bottom: 0;
    }
}

.align-items-center {
    align-items: center;
}
.align-items-md-stretch {
    align-items: stretch;
}
.justify-content-center {
    justify-content: center;
}

/* 검정 배경 */
.text-bg-dark {
    color: #fff;
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
}

.text-body-emphasis {
    --bs-text-opacity: 1;
    color: var(--bs-emphasis-color);
}
.text-body-secondary {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color);
}
.text-decoration-none {
    text-decoration: none;
}

.text-center {
    text-align: center;
}
.text-end {
    text-align: right;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.w-100 {
    width: 100%;
}

.btn-lg {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-border-radius: var(--bs-border-radius-lg);
}

.size-max-100 {
    max-width : 100px;
    max-height: 100px;
}
