#logs {
    border: 2px solid #ffc107; 
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px; /* 모서리를 둥글게 */
}


#logs .date-navigation span {
margin-top: 10px; /* 날짜 표시와 버튼 사이의 간격을 조정 */
color: black; /* 글씨 색상을 검은색으로 변경 */
}

#logs .data-list {
    text-align: center; /* 텍스트 가운데 정렬 */
}

#logs .data-list ul {
    list-style-type: none; /* 기본 리스트 스타일 제거 */
    padding: 0; /* 기본 패딩 제거 */
}

#logs .data-list ul li {
    display: inline-block; /* 아이템을 가로로 나열 */
    margin: 0 10px; /* 아이템 간격 설정 */
}
.date-center {
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
    display: block; /* 블록 레벨 요소로 만들어 전체 너비를 차지하게 합니다. */
    margin: auto; /* 자동 마진을 사용하여 가로 방향으로 가운데 정렬합니다. */
}
