.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%; /* 필요하다면 최대 너비 설정 가능, 예: max-width: 400px; */
    max-width: 500px; /* 로그인 박스의 최대 너비 */
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 박스에 그림자 효과 추가 */
    border-radius: 8px; /* 모서리를 둥글게 */
}

.login-form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px !important;
}