.main-container {
    border: 2px solid #cccccc; /* 회색 테두리 */
    padding: 20px; /* 내부 여백 */
    /* background-color: #f9f9f9;  */
    border-radius: 10px; /* 둥근 모서리 */
    margin: 20px; /* 외부 여백 */
    border-radius: 10px; /* 둥근 모서리 */
    margin: 20px auto; /* 상하 여백 20px, 좌우는 자동(가운데 정렬) */
    width: 50%; /* 박스의 너비를 페이지의 50%로 설정 */
    max-width: 600px; /* 박스의 최대 너비를 600px로 설정 */
}
