.serch-box {
    height: 30px;
    width: 300px;
    background: white;
    border-radius: 40px;
    padding: 10px;
    border: 1px solid #f9deec;
}

.serch-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: #797979;
    font-size: 16px;
    line-height: 30px;
    width: 200px;


}

.serch-btn {
    color: #f9deec;
    float: right;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background: white;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu {
    display: flex; /* 가로로 정렬하기 위해 flexbox를 사용합니다 */
    list-style: none; /* 기본 목록 스타일 제거 */
    padding: 0; /* 내부 간격 제거 */
}
.menu li {
    margin-right: 10px; /* 각 메뉴 항목 사이의 간격 설정 */
}
.menu li:last-child {
    margin-right: 0; /* 마지막 메뉴 항목은 오른쪽 간격 제거 */
}