
/* 갤러리 스타일 */
.gallery {
display: flex;
flex-wrap: wrap;
gap: 10px; /* 사진 사이의 간격 */
}
.photo {
display: flex; /* Flexbox를 사용하여 내용을 수평으로 배치 */
align-items: center; /* 세로 방향으로 중앙 정렬 */
justify-content: space-between; /* 사진과 설명 사이의 공간을 균등하게 배분 */
}
.photo img {
width: auto; /* 이미지 너비를 자동으로 설정, 필요에 따라 조정 */
height: auto; /* 이미지 높이는 자동으로 설정 */
border-radius: 5px 0 0 5px; /* 왼쪽 모서리만 둥글게, 필요에 따라 조정 */
flex-grow: 1; /* 이미지를 가능한 공간에 맞게 확장 */
}
.description {
width: calc(50% - 5px); /* 설명의 너비를 전체의 50%에서 간격을 고려하여 조정, 필요에 따라 변경 */
text-align: center; /* 설명 텍스트 정렬 */
padding: 5px; /* 상하 좌우 패딩 */
background-color: #f0f0f0; /* 배경색 */
border-radius: 5px; /* 모서리 둥글게 */
border: 20px solid #721818; /* 테두리 추가: 두께, 스타일(실선), 색상(#ccc) */
}
.description {
font-size: 16px;
margin-bottom: 20px;
}

.image-container-row {
display: flex;
justify-content: space-between; /* 이미지 컨테이너 간의 간격을 조정합니다. */
margin-bottom: 20px;
}

.image-container {
width: 30%; /* 컨테이너의 너비를 설정합니다. */
text-align: center; /* 텍스트를 중앙 정렬합니다. */
}

.image-container img {
width: 100%; /* 이미지가 컨테이너 너비에 맞게 조정됩니다. */
height: auto; /* 이미지의 비율을 유지합니다. */
}

.button {
display: block;
width: 100px;
padding: 10px;
margin: 0 auto; /* 버튼을 중앙에 위치시킵니다. */
background-color: #ffc107;
color: white;
text-align: center;
cursor: pointer;
border: none;
border-radius: 5px;
}
