<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>밀땅</title>
</head>
<body>
    <h1>밀땅 로그인 페이지</h1>
    <form action="/loginprocess" method="post">
        <input type="text" name="username" placeholder="아이디 입력"/> <br>
        <input type="password" name="password" placeholder="비밀번호 입력"/> <br>
        <input type="submit" id="btn"/>
    </form>
    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
    <a href="/oauth2/authorization/kakao" class="btn btn-success active" role="button">Kakao Login</a>
</body>
</html>