<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>mealddang</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=3volbh1cte"></script>
    <link rel="stylesheet" href="navermap.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
</head>
<body onload="initMap()">
<nav>
    <div class="inner">
        <div class="nav-container">
            <h1 class="nav-title">mealddang</h1>
            <!-- 이하 form : 검색창 -->
            <form class="search-box" action="/user/rsrt/search" method="GET">
                <input onkeyup="enterkey()" type="search" name="searchkey"/>
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <!-- 이하 script : 엔터키로 검색 버튼 클릭 기능 -->
            <script>
                function enterkey() {
                    if (window.event.keyCode == 13) {
                        document.getElementById("searchForm").submit();
                    }}
            </script>
            <div class="realtime-box">
                <p>실시간 조회수 TOP3</p>
            </div>
            <button><a href="/user/diet/log">밀땅일지(식단관리)로</a></button><br>
            <button><a href="/logout">로그아웃</a></button><br>
        </div>
    </div>
</nav>

<main>
    <!-- 이하 section : 키워드 카테고리 필터 -->
    <section id="category-filter">
        <div class="category-container">
            <h2 class="category-title">mealddang 카테고리를 선택해보세요</h2>
            <div class="category-list">
                <button class="category-item">분위기좋은</button><br>
                <button class="category-item">회식하기좋은</button><br>
                <button class="category-item">깨끗한</button><br>
                <button class="category-item">친절한</button><br>
                <button class="category-item">룸이있는</button><br>
                <button class="category-item">갬성</button><br>
                <button class="category-item">주차공간</button><br>
                <button class="category-item">놀이방</button><br>
                <button class="category-item">콜키지</button>
            </div>
        </div>
        <h2 class="searchresult-title">검색 결과</h2>
        <div class="searchResult" th:if="${searchResults == null || searchResults.isEmpty()}"> 0건 </div>
        <div class="searchResult" th:unless="${searchResults == null || searchResults.isEmpty()}">
            <table>
                <tbody class="searchResultTable">
                    <tr th:id="${mdStore.storeName}" th:each="mdStore : ${searchResults}" class="table-row">
                        <td class="table-data" th:text="${mdStore.storeName != null ? mdStore.storeName : 'N/A'}"></td>
                        <td class="table-data" th:text="${mdStore.storeAddr != null ? mdStore.storeAddr : 'N/A'}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section id="map">
        <div class="map-container">
            <div class="map" style="width:70%; height:500px; right: -250px;"><script>
                var map = new naver.maps.Map('map', {
                    center: new naver.maps.LatLng(37.498095, 127.027610), // 강남역 중심으로 하는 지도
                    zoom: 13
                });
                var marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(37.5112, 127.0981), //잠실 롯데월드 마커
                    map: map
                });
                var marker1 = new naver.maps.Marker({
                    position: new naver.maps.LatLng(37.5666805, 126.9784147), //시청 마커
                    map: map
                });
                var marker2 = new naver.maps.Marker({
                    position: new naver.maps.LatLng(37.498095, 127.027610), //강남역 마커
                    map: map
                });
                //실시간 위치 업데이트
                setInterval(function() {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var latitude = position.coords.latitude;
                        var longitude = position.coords.longitude;
                        var markerOptions = {
                            position: new naver.maps.LatLng(latitude, longitude),
                            map: map
                        }
                        var marker = new naver.maps.Marker(markerOptions);
                        map.setCenter(markerOptions.position);
                    });}, 5000); // 5초마다 위치 업데이트
                var contentString2 = [
                '<div class="iw_inner">',
                '   <h3>강남역</h3>',
                '   <p>서울 강남역이당<br />',
                '       <img src="/static/images/123.png" width="55" height="55" alt="강남역" class="thumb" /><br />',
                '       02-120 | 강남역 2호선 br />\n',
                '       <a href="http://www.seoul.go.kr" target="_blank">www.seoul.go.kr/</a>',
                '   </p>',
                '</div>'
                ].join('');
                var infowindow2 = new naver.maps.InfoWindow({
                    content: contentString2});
                // 마커 클릭 이벤트
                naver.maps.Event.addListener(marker2, "click", function(e) {
                    if (infowindow2.getMap()) {
                        infowindow2.close();
                    } else {
                        infowindow2.open(map, marker2);
                    }
                });
                // 정보 창 띄우기
                infowindow2.open(map, marker2);
                var polyline = new naver.maps.Polyline({
                    map: map,
                    path: [],
                    strokeColor: '#5347AA',
                    strokeWeight: 2
                });
                naver.maps.Event.addListener(map, 'click', function(e) {
                    var point = e.coord;
                    var path = polyline.getPath();
                    path.push(point);
                    new naver.maps.Marker({
                        map: map,
                        position: point
                    });
                });
            </script></div>
            <div class="img-search"><h5>이미지 검색</h5></div>
            <div class="chatbot"><h5>챗봇</h5></div>
        </div>
    </section>
</main>

<footer>
    <p>footer 여백</p>
</footer>
</body>
</html>