<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>밀땅</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/jumbotrons/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link href="/css/jumbotrons.css?after" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=3volbh1cte"></script>
    <style>
        a {
            text-decoration-line: none;
            color: inherit;
        }
    </style>

</head>
<body>
<div class="container py-4">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/user/main">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-egg-fried" viewBox="0 0 16 16">
                    <path d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6" fill="#ffc107"></path>
                    <path d="M13.997 5.17a5 5 0 0 0-8.101-4.09A5 5 0 0 0 1.28 9.342a5 5 0 0 0 8.336 5.109 3.5 3.5 0 0 0 5.201-4.065 3.001 3.001 0 0 0-.822-5.216zm-1-.034a1 1 0 0 0 .668.977 2.001 2.001 0 0 1 .547 3.478 1 1 0 0 0-.341 1.113 2.5 2.5 0 0 1-3.715 2.905 1 1 0 0 0-1.262.152 4 4 0 0 1-6.67-4.087 1 1 0 0 0-.2-1 4 4 0 0 1 3.693-6.61 1 1 0 0 0 .8-.2 4 4 0 0 1 6.48 3.273z"></path>
                </svg>
                <span id="mealddang">MealDDang</span>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="/user/diet/log"><button type="button" class="btn btn-outline-warning">밀땅일지</button></a>
            <a href="/user/rsrt/map"><button type="button" class="btn btn-outline-warning">밀땅검색</button></a>
        </div>
        <div class="col-md-3 text-end">
            <a href="/user/mypage"><button type="button" class="btn btn-outline-warning me-2">마이페이지</button></a>
            <a href="/logout"><button type="button" class="btn btn-outline-warning">로그아웃</button></a>
        </div>
    </header>

    <main>
        <!-- 이하 form : 검색창 -->
        <form class="search-box" action="/user/rsrt/search/name" method="GET">
            <input onkeyup="enterkey()" type="search" name="searchkey" placeholder="식당 이름 기준 검색"/>
            <button type="submit" class="btn btn-outline-warning">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <!-- <form class="search-box" action="/user/rsrt/search/review" method="GET">
            <input onkeyup="enterkey()" type="search" name="searchkey" placeholder="리뷰 기준 검색"/>
            <button type="submit" class="btn btn-outline-warning">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form> -->

        
        <section class="searchresult" style="display: none;">
            <h2 class="searchresult-title">식당 이름 검색 결과</h2>
            <div class="searchResult" th:if="${nameSearchResults == null || nameSearchResults.isEmpty()}"> 0건 </div>
            <div class="searchResult" th:unless="${nameSearchResults == null || nameSearchResults.isEmpty()}">
                <table>
                    <tbody class="searchResultTable">
                        <tr th:id="${mdStore.storeId}" th:each="mdStore : ${nameSearchResults}" class="table-row">
                            <td class="table-data" th:text="${mdStore.storeName != null ? mdStore.storeName : 'N/A'}"></td>
                            <td class="table-data" th:text="${mdStore.storeAddr != null ? mdStore.storeAddr : 'N/A'}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
                <!-- <h2 class="searchresult-title">리뷰 검색 결과</h2>
                <div class="searchResult" th:if="${reviewSearchResults == null || reviewSearchResults.isEmpty()}"> 0건 </div>
                <div class="searchResult" th:unless="${reviewSearchResults == null || reviewSearchResults.isEmpty()}">
                    <table>
                        <tbody class="searchResultTable">
                            <tr th:id="${mdReview.storeName}" th:each="mdReview : ${reviewSearchResults}" class="table-row">
                                <td class="table-data" th:text="${mdReview.storeName != null ? mdReview.storeName : 'N/A'}"></td> -->
                                <!-- <td class="table-data" th:text="${mdReview.review != null ? mdReview.review : 'N/A'}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div> --> 
            </section>

        <!-- 이하 section : 키워드 카테고리 필터  -->
        <section id="category-filter"><div class="category-container">
            <h2 class="category-title">mealddang 카테고리를 선택해보세요</h2>
            <div class="category-list">
                
                
                <button class="btn btn-outline-warning" id="atmosphereButton">분위기</button>
                <script>
                    document.getElementById("atmosphereButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("분위기"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>


                <button class="btn btn-outline-warning" id="tasteButton">맛있는</button>
                <script>
                    document.getElementById("tasteButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("맛"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="cleanButton">깔끔한</button>
                <script>
                    document.getElementById("cleanButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("깨끗"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="cleanlinessButton">청결</button>
                <script>
                    document.getElementById("cleanlinessButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("청결"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>


                <button class="btn btn-outline-warning" id="bookButton">예약가능</button>
                <script>
                    document.getElementById("bookButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("예약"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="bigButton">대형매장</button>
                <script>
                    document.getElementById("bigButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("대형"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="diningButton">회식</button>
                <script>
                    document.getElementById("diningButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("회식"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>
                
                <button class="btn btn-outline-warning" id="notaloneButton">혼밥</button>
                <script>
                    document.getElementById("notaloneButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("혼밥"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="dateButton">데이트</button>
                <script>
                    document.getElementById("dateButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("데이트"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="familyButton">가족모임</button>
                <script>
                    document.getElementById("familyButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("가족"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="groupButton">단체석</button>
                <script>
                    document.getElementById("groupButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("단체"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="roomButton">룸</button>
                <script>
                    document.getElementById("roomButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("룸"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="privateButton">프라이빗</button>
                <script>
                    document.getElementById("privateButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("프라이빗"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="parkButton">주차</button>
                <script>
                    document.getElementById("parkButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("주차"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="coolButton">콜키지프리</button>
                <script>
                    document.getElementById("coolButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("콜키지프리"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="traditionButton">전통</button>
                <script>
                    document.getElementById("traditionButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("전통"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="deliveryButton">배달</button>
                <script>
                    document.getElementById("deliveryButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("배달"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="packagingButton">포장</button>
                <script>
                    document.getElementById("packagingButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("포장"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="dawnButton">새벽</button>
                <script>
                    document.getElementById("dawnButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("새벽"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="noholidayButton">연중무휴</button>
                <script>
                    document.getElementById("noholidayButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("연중무휴"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="petButton">반려동물</button>
                <script>
                    document.getElementById("petButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("반려동물"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>

                <button class="btn btn-outline-warning" id="newButton">새로오픈</button>
                <script>
                    document.getElementById("newButton").addEventListener("click", function() {
                        var keyword = encodeURIComponent("새로"); // URL에 사용될 수 있도록 키워드를 인코딩합니다.
                        window.location.href = '/user/rsrt/filter/atmosphere?keyword=' + keyword;
                    });
                </script>
        </div></section>

        <section id="map">
            <div class="map-container">
                <div class="map" style="width:70%; height:500px; right: -250px;">

                </div>
                <div class="img-search"><h5>이미지 검색</h5></div>
                <div class="chatbot"><h5>챗봇</h5></div>
            </div>
        </section>

        <section class="keywordresults" style="display: none;">
            <h2 class="keywordresult-title">식당 키워드 결과</h2>
            <div class="keywordResults" th:if="${filteredStores == null || filteredStores.isEmpty()}"> 0건 </div>
            <div class="keywordResults" th:unless="${filteredStores == null || filteredStores.isEmpty()}">
                <table>
                    <tbody class="keywordResultTable">
                        <tr th:each="mdKey : ${filteredStores}" class="table-row">
                            <td class="table-data" th:text="${mdKey.storeName != null ? mdKey.storeName : 'N/A'}"></td>
                            <td class="table-data" th:text="${mdKey.storeRoadAddressN != null ? mdKey.storeRoadAddressN : 'N/A'}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <footer class="pt-3 mt-4 text-body-secondary border-top">© PORT8090</footer>
</div>
</body>

    <!-- 이하 script : 엔터키로 검색 버튼 클릭 기능 -->
    <script th:inline="javascript">
    
        var infowindow = new naver.maps.InfoWindow();

        var nameSearchResults = /*[[${nameSearchResults}]]*/ {}; 
        console.log(nameSearchResults);
        var filteredStores = /*[[${filteredStores}]]*/ {}; 
        console.log(filteredStores);

        // 지도 생성
        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.498095, 127.027610), // 강남역 중심으로 하는 지도
            zoom: 13
        });

        if (nameSearchResults){
            // nameSearchResults에 대한 마커 생성
            nameSearchResults.forEach(function(store) {
                var marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(store.storeY, store.storeX),
                    map: map
                });
                
                var contentString = [
                    '<div class="iw_inner">',
                    '   <h3>' + store.storeName + '</h3>',
                    '   <p>' + store.storeAddr + '<br />',
                    '       <img src= '+ store.storeImgUrl + '" width="55" height="55" alt="' + store.storeName + '" class="thumb" /><br />',
                    '       ' + store.storeTel + ' | <button onclick="window.open(\'' + store.storeMenuUrlN + '\', \'_blank\')">메뉴 보기</button>',
                    '   </p>',
                    '</div>'
                ].join('');

                var infowindow = new naver.maps.InfoWindow({
                    content: contentString,
                    maxWidth: 300,
                    backgroundColor: "lightyellow", // 연노랑색 배경
                    borderColor: "#ffc107", // 노란색 테두리
                    borderWidth: 3,
                    anchorSize: new naver.maps.Size(30, 30),
                    anchorSkew: true,
                    anchorColor: "lightyellow", // 연노랑색 앵커
                    pixelOffset: new naver.maps.Point(20, -20)
                });
        
                naver.maps.Event.addListener(marker, 'click', function(e) {
                    if (infowindow.getMap()) {
                        infowindow.close();
                    } else {
                        infowindow.setContent(contentString);
                        infowindow.open(map, marker);
                    }
                });
            });
        }

        if(filteredStores){
            // filteredStores에 대한 마커 생성
            filteredStores.forEach(function(store) {
                var marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(store.storeY, store.storeX),
                    map: map
                });
                
                var contentString = [
                    '<div class="iw_inner">',
                    '   <h3>' + store.storeName + '</h3>',
                    '   <p>' + store.storeRoadAddressN + '<br />',
                    '       <img src="' + store.storeImageUrl + '" width="55" height="55" alt="' + store.storeName + '" class="thumb" /><br />',
                    '       ' + store.storePhone + ' | <button onclick="window.open(\'' + store.storeMenuUrlN + '\', \'_blank\')">메뉴 보기</button>',
                    '   </p>',
                    '</div>'
                ].join('');

                var infowindow = new naver.maps.InfoWindow({
                    content: contentString,
                    maxWidth: 300,
                    backgroundColor: "lightyellow", // 연노랑색 배경
                    borderColor: "#ffc107", // 노란색 테두리
                    borderWidth: 3,
                    anchorSize: new naver.maps.Size(30, 30),
                    anchorSkew: true,
                    anchorColor: "lightyellow", // 연노랑색 앵커
                    pixelOffset: new naver.maps.Point(20, -20)
                });
                // 정보 창 내용 설정 후 열기
                naver.maps.Event.addListener(marker, 'click', function(e) {
                    if (infowindow.getMap()) {
                        infowindow.close();
                    } else {
                        infowindow.setContent(contentString);
                        infowindow.open(map, marker);
                    }
                });
            }); 
            // 엔터키 이벤트
            function enterkey() {
                if (window.event.keyCode == 13) {
                    document.getElementById("searchForm").submit();
                }
            }
        }

        //실시간 위치 업데이트
        var currentMarker = null; // 현재 마커를 저장할 전역 변수
        var lastPosition = null; // 마지막 위치를 저장할 전역 변수
        var isFirstLocation = true; // 첫 번째 위치 확인인지 여부를 저장할 변수

        setInterval(function() {
            navigator.geolocation.getCurrentPosition(function(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
        
        // 새 위치와 마지막 위치를 비교
        if (lastPosition && latitude === lastPosition.lat && longitude === lastPosition.lng) {
            // 위치가 변경되지 않았으면 아무것도 하지 않음
            return;
        }

        // 새 위치를 마지막 위치로 업데이트
        lastPosition = { lat: latitude, lng: longitude };

        // 이전 마커가 있으면 지도에서 제거
        if (currentMarker) {
            currentMarker.setMap(null);
        }

        // var markerOptions = {
        //     position: new naver.maps.LatLng(latitude, longitude),
        //     map: map,
        //     icon: {
        //         content: '<img src="/static/icons/map-marker-icon_34392.png" style="width: 33px; height: 33px;">'
        //     } // 빨간색 마커 이미지로 설정
        // };

        var markerOptions = {
            position: new naver.maps.LatLng(latitude, longitude),
            map: map,
            icon: {
                url: '/icons/map-marker-icon_34392.png', // 이미지의 경로를 설정합니다.
                size: new naver.maps.Size(33, 33), // 이미지의 크기를 설정합니다.
                scaledSize: new naver.maps.Size(33, 33) // 이미지의 크기를 화면에 표시될 크기로 조절합니다.
            }
        };
        var marker = new naver.maps.Marker(markerOptions);
        
        // 새로 생성된 마커를 현재 마커로 저장
        currentMarker = marker;

        // 첫 번째 위치 확인이거나 위치가 변경된 경우에만 지도의 중심을 현재 위치로 이동
        if (isFirstLocation || (latitude !== lastPosition.lat || longitude !== lastPosition.lng)) {
            map.setCenter(markerOptions.position);
            isFirstLocation = false; // 첫 번째 위치 확인이 끝났으므로 false로 설정
            }
        });
    }, 5000);


    </script>
</html>